*{
box-sizing:border-box;
margin:0;
padding:0;
font-family: Arial, Helvetica, Sans-serif;
}

.header{
background-color:indigo;
height:40px;
color:white;
}

table, th, td { padding: 10px; border-bottom: 1px solid black; border-collapse: collapse;}

.container table{
width:99%;
margin:auto;
border: 2px solid black;
}

.champ-lg{
background-color:gold;
}

.euro-lg{
background-color:green;
}

.relega{
background-color:red;
}

td{
padding:3px;
}

img{
width:100%;
}

.key{
padding-top:5px;
background-color:gray;
padding-left:20px;
}

.goldcircle{
color:gold;
background-color:gold;
}

.greencircle{
color:green;
background-color:green;
}

.redcircle{
color:red;
background-color:red;
}

.keybox{
padding:5px;
}

.line{
border-bottom:1px solid #333;
}